.box {
	width: 150px;
	height: 150px;
	background-color: black;
	margin: 16px;
	display: inline-block;
	
}

.box2 {
	width: 150px;
	height: 150px;
	background-color: black;
	margin: 18px;
	float: left;
	
}

.box3 {
	width: 150px;
	height: 150px;
	background-color: black;
	margin: 18px;
	position: relative;
	
}